{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://www.ey.com/adobe/dynamicmedia/deliver/dm-aid--d415a9f4-f563-4dad-aed7-4024a9fb786a/ey-logo-footer.png?width=2000&quality=85&preferwebp=true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EY Buzz</title>
    <style>
      #root .flex .flex-grow {
        transition: margin-left 0s !important;
        margin-left: 0 !important;
        width: 80% !important;
      }
    </style>
    <script type="module" crossorigin src="/assets/index-DAvVK_Pa.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-JrVD0wqw.css">
  </head>
  <body>
    <div id="root"></div>

  </body>
</html>
