.gallery-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .gallery-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  